{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-11 col-md-7 mx-auto text-center"
        style="background: white; border-radius: 7px; box-shadow: 0 0 7px grey; overflow: hidden;">
        <h3 class="p-3">FASTCARS</h3>
        <div class="p-3">
            <p>Enter your registered email address.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-12 d-flex justify-content-between pt-3">
                    <a href="{% url 'edit_profile' %}" class="btn px-0" style="border: none !important;"><i
                            class="fas fa-angle-left"></i> Back</a>
                    <button type="submit" class="btn px-0" style="border: none !important;">Save <i
                            class="fas fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    h3 {
        background: #f1f1f1;
    }

    input {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-bottom: 1px solid grey;
    }

    label {
        display: none;
    }
</style>

<script>
    $("#id_old_password").attr("placeholder", "Old Password")
    $("#id_new_password1").attr("placeholder", "New Password")
    $("#id_new_password2").attr("placeholder", "Confirm New Password")
</script>
{% endblock main %}