{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-11 col-md-7 mx-auto my-5 text-center" style="background: white; border-radius: 7px; box-shadow: 0 0 7px grey;">
        <h3 class="p-3">FASTCARS</h3>
        {% if validlink %}
        <div class="p-3">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn">Next <i class="fas fa-angle-right"></i></button>
            </form>
            {% else %}
            <p>The password reset link is invalid. This is possibly because it has already been used. please request for
                a
                new password reset link.</p>
            {% endif %}
        </div>
    </div>
</div>


<style>
    h3 {
        background: #f1f1f1;
    }

    input {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-bottom: 1px solid grey;
    }

    label {
        display: none;
    }
</style>

<script>
    $("#id_new_password1").attr("placeholder", "Type your new password here")
    $("#id_new_password2").attr("placeholder", "Verify your new password")
</script>
{% endblock main %}