{% extends 'base.html' %}
{% block main %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-11 col-md-7 mx-auto my-5 text-center"
        style="background: white; border-radius: 7px; box-shadow: 0 0 7px grey;">
        <h3 class="p-3">FASTCARS</h3>
        <p class="p-3">The instructions to reset your password has been sent to your email.</p>
    </div>
</div>


<style>
    h3 {
        background: #f1f1f1;
    }
</style>
{% endblock main %}