{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="col-12 d-flex flex-wrap">

    <!-- SIDEBAR -->
    <div class="col-12 col-lg">
        {% include "partials/sidenav.html" %}
    </div>
    <div class="main_content">
        <div class="d-flex">
            <!-- BOOKING LIST (TRIPS) -->
            <div class="col-6 col-lg-4 d-none d-md-block info_holder">
                <h5 class="p-2 text-dark">Trips</h5>
                {% for booking in bookings %}
                <!-- BOOKINGS -->
                <div class="col-12 p-2">
                    <div class="p-3 bg-white card border-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 style="font-size: 19px;"><a href="{% url 'booking_details' booking.id %}" class="text-decoration-none booking_id">#{{booking.id}}</a></h5>
                            <a class="text-danger" href="{% url 'delete_booking' booking.id %}"><i
                                class="fas fa-trash"></i></a>
                        </div>
                        <div class="d-flex align-items-center pt-3">

                            {% if booking.user.profile_image %}
                            <img src="{{booking.user.profile_image.url}}" alt="" width="35px" height="35px" class="me-3"
                                style="border-radius: 50%;">
                            {% else %}
                            <img src="{% static 'images/user_icon.png' %}" alt="" width="35px" height="35px" class="me-3"
                                style="border-radius: 50%;">
                            {% endif %}

                            <h5 style="font-size: 19px;">{{booking.user.username}}</h5>
                        </div>
                        <div class="d-flex justify-content-between py-3">
                            <span class="text-muted">Status:</span>

                            {% if booking.completed %}
                            <div class="px-2" style="background: #00ff155d; border-radius: 10px;"><small
                                    class="text-success">Completed</small></div>
                            {% else %}
                            {% if booking.confirmed %}
                            <div class="px-2" style="background: #ffbb005d; border-radius: 10px;"><small
                                    class="text-warning">Active</small></div>
                            {% else %}
                            <div class="px-2" style="background: #8686865d; border-radius: 10px;"><small
                                    class="text-secondary">Inactive</small></div>
                            {% endif %}
                            {% endif %}

                        </div>
                        <div class="d-flex flex-wrap align-items-center">
                            {% if booking.completed %}
                            <a href="{% url 'complete_booking' booking.id %}" class="px-2 text-decoration-none"
                                style="background: #8686865d; border-radius: 10px;"><small
                                    class="text-secondary">Booking Incomplete</small></a>
                            {% else %}
                            {% if booking.confirmed %}
                            <a href="{% url 'cancel_booking' booking.id %}" class="px-2 me-1 text-decoration-none"
                                style="background: #ff00005d; border-radius: 10px;"><small class="text-danger">Cancel
                                    Booking</small></a>
                            <a href="{% url 'complete_booking' booking.id %}" class="px-2 text-decoration-none"
                                style="background: #00ff155d; border-radius: 10px;"><small class="text-success">Complete
                                    Booking</small></a>
                            {% else %}
                            <a href="{% url 'confirm_booking' booking.id %}" class="px-2 text-decoration-none"
                                style="background: #00ff155d; border-radius: 10px;"><small class="text-success">Confirm
                                    Booking</small></a>
                            {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- BOOKING INFORMATION -->
            <div class="col info_holder p-3 bg-white">
                <!-- BOOKING ID AND STATUS -->
                <div class="d-flex align-items-center">
                    <h5 id="info_id">#{{booking.id}}</h5>
                    {% if booking.completed %}
                    <div class="px-2 ms-2" style="background: #00ff155d; border-radius: 10px;"><small
                            class="text-success">Completed</small></div>
                    {% else %}
                    {% if booking.confirmed %}
                    <div class="px-2 ms-2" style="background: #ffbb005d; border-radius: 10px;"><small
                            class="text-warning">Active</small></div>
                    {% else %}
                    <div class="px-2 ms-2" style="background: #8686865d; border-radius: 10px;"><small
                            class="text-secondary">Inactive</small></div>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="row g-3">
                    <!-- CUSTOMER INFO -->
                    <div class="col-12 col-lg-6">
                        <div class="card p-3 border-0 shadow-sm">
                            <h6>Customer Info</h6>
                            <div class="text-center col-12">
                                {% if booking.user.profile_image %}
                                <img src="{{booking.user.profile_image.url}}" alt="" width="60px" height="60px"
                                    class="me-3 my-3" style="border-radius: 50%;">
                                {% else %}
                                <img src="{% static 'images/user_icon.png' %}" alt="" width="60px" height="60px"
                                    class="me-3 my-3" style="border-radius: 50%;">
                                {% endif %}
                                <h6>{{booking.user.username}}</h6>
                                <span class="text-muted">{{booking.user.phone_number}}</span>
                                <div class="d-flex mt-3">
                                    <a href="tel:{{booking.user.phone_number}}"
                                        class="btn btn-outline-success col me-2"><i class="fas fa-phone"></i></a>
                                    <a href="mailto:{{booking.user.email}}" class="btn btn-outline-danger col"><i
                                            class="fas fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BOOKED VEHICLE -->
                    <div class="col-12 col-lg-6">
                        <a href="{% url 'vehicle_details' booking.vehicle.slug %}"
                            class="card col-12 text-bg-dark border-0 d-flex justify-content-center align-items-center"
                            style="height: 300px; overflow: hidden;">
                            <img src="{{booking.vehicle.image1.url}}" class="card-img h-100" alt="..."
                                style="filter: brightness(50%); width: fit-content !important;">
                            <div class="card-img-overlay d-flex align-items-end">
                                <div class="col">
                                    <h5 class="card-title">{{booking.vehicle.brand.brand_name}}
                                        {{booking.vehicle.vehicle_model}}</h5>
                                    <div class="d-flex justify-content-start">
                                        <div class="pe-2 text-center text-white">
                                            <img src="{% static 'images/car_wheel.png' %}" width="20px" height="20px"
                                                style="filter: invert(100%);" alt="" class="img-fluid">
                                            <p class="mt-1">{{booking.vehicle.drive}}</p>
                                        </div>
                                        <div class="pe-2 text-center text-white">
                                            <img src="{% static 'images/transmission.png' %}" width="20px" height="20px"
                                                style="filter: invert(100%);" alt="" class="img-fluid">
                                            <p class="mt-1">
                                                {% if booking.vehicle.transmission == "manual" %}
                                                man
                                                {% else %}
                                                auto
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="pe-2 text-center text-white">
                                            <img src="{% static 'images/engine.jpg' %}" width="20px" height="20px"
                                                style="filter: invert(100%);" alt="" class="img-fluid">
                                            <p class="mt-1">{{booking.vehicle.horsepower}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="text-white text-end d-flex align-items-center">$<span
                                            class="fs-1">{{booking.vehicle.price}}</span></span>
                                    <small>per day</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- BOOKING DETAILS -->
                    <div class="col-12 col-lg-8">
                        <div class="card p-4 border-0 shadow-sm">
                            <h6 class="mb-4">Booking Details</h6>
                            <ul class="list-group col-12">
                                <li class="list-group-item rounded-0 d-flex"><span>Pick-Up Date :</span> <span
                                        class="ms-auto text-muted text-end">{{booking.pick_up_date}}</span></li>
                                <li class="list-group-item rounded-0 d-flex"><span>Drop-Off Date :</span> <span
                                        class="ms-auto text-muted text-end">{{booking.drop_off_date}}</span></li>
                                <li class="list-group-item rounded-0 d-flex"><span>Pick-Up Location :</span> <span
                                        class="ms-auto text-muted text-end">{{booking.pick_up_location}}</span></li>
                                <li class="list-group-item rounded-0 d-flex"><span>Price (per day) :</span> <span
                                        class="ms-auto text-muted text-end">${{booking.vehicle.price}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .info_holder {
        height: 100vh;
        overflow-y: scroll;
    }

    .info_holder::-webkit-scrollbar {
        width: 4px;
    }

    .info_holder::-webkit-scrollbar-thumb {
        background: #ccc;
    }

    .card .list-group {
        border: none !important;
    }

    .card .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .card .list-group-item:last-child {
        border: none;
    }
</style>

<script>
    ids = $(".booking_id")

    for(let i = 0; i < ids.length; i++){
        console.log(ids[i])
        if(ids[i].textContent == $("#info_id").text()){
            $(ids[i].parentElement.parentElement.parentElement).css("border","2px solid lightgrey").removeClass("border-0")
        }
    }
</script>
{% endblock main %}