{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="col-12 d-flex flex-wrap">
    <div class="col-12 col-lg">
        {% include 'partials/sidenav.html' %}
    </div>
    <div class="main_content d-flex justify-content-center align-items-center">
        <div class="col-11 col-md-8 col-lg-6">
            <form class="modal-content" method="post" action="">
                {% csrf_token %}
                <div class="modal-body row g-2">
                    <div class="form-floating col-12">
                        {{branchForm.branch_location}}
                        <label for="id_brand_location">Brand Name:</label>
                    </div>
                    <div class="form-floating col-12 col-md">
                        {{branchForm.phone_number}}
                        <label for="id_phone_number">Phone Number:</label>
                    </div>
                    <div class="form-floating col-12 col-md">
                        {{branchForm.email}}
                        <label for="id_email">Email Address:</label>
                    </div>
                    <div class="form-floating col-12">
                        {{branchForm.address}}
                        <label for="id_address">Address:</label>
                    </div>
                </div>
                <div class="border-0 d-flex justify-content-end py-3">
                    <a href="{% url 'branches' %}" class="btn btn-secondary me-2"><i class="fas fa-times"></i>
                        Cancel</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
